/* Global scss */
html,
body {
  height: 100%;
  width: 100%;
}

body {
  // font-family: var(--font-family-element);
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  margin: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}


::-webkit-scrollbar {
  background-color: transparent;
  height: 6px;
  width: 6px;

  /* or add it to the track */
}

::-webkit-scrollbar-thumb {
  background: var(--gray);
  border-radius: 5px;
}

::-webkit-scrollbar-corner {
  background-color: transparent;

  /* or add it to the track */
}

@media only screen and (max-width: 768px) {
  .placeholder {
    background-color: transparent;
  }

}
