/* Global scss */
html,
body {
  width: 100%;
  height: 100%;
}

body {
  margin: 0;

  // font-family: var(--font-family-element);
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

ul,li{
  padding: 0;
  margin: 0;
  list-style: none;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}


::-webkit-scrollbar {
  width: 6px;
  height: 6px;
  background-color: transparent;

  /* or add it to the track */
}

::-webkit-scrollbar-thumb {
  background: var(--gray);
  border-radius: 5px;
}

::-webkit-scrollbar-corner {
  background-color: transparent;

  /* or add it to the track */
}

@media only screen and (max-width: 768px) {
  .placeholder {
    background-color: transparent;
  }

}

.treasure-chest-module {
  width: 500px;
  margin: auto;
  background: #fff;
  border-radius: 10px;
}
